.header-text h2::after {
    content: "🤩"; /* Initial emoji */
}

.header-text h2:hover::after {
    content: "😎"; /* New emoji on hover */
}

.card{
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
}
.x{
    height: 48px;
/* width: 105%; */
}
input[type="file"] {
    /* height: 48px; */
    line-height: 2.15;
}
.btn:hover #im {
    animation: zoomInOut 1s infinite; /* Play animation on hover */
}

@keyframes zoomInOut {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

.nav-bar img{
    
}